.div-1{
	height: 35vh;
	width: 354px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.div-2{
	height: 200px;
	width: 97%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.div-3{
	height: 200px;
	width: 550px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.div-4{
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.div-5{
	height: 200px;
	width: 155px;
	display: flex;
	justify-content: center;
	align-items: center;
}